.contact-wrapper {
  padding: 2rem 6rem;
  color: white;
  padding-bottom: 10rem;
  margin-top: 3rem;
}

.contact-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #14ffec;
}

.contact-section {
  background-color: #2b2b2b;
  padding: 2.5rem;
  border-radius: 20px;
  max-width: 1000px;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.contact-info {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-info h3 {
  font-size: 1.8rem;
  color: white;
  margin-bottom: 1rem;
}

.contact-info p {
  font-size: 1rem;
  line-height: 1.5;
  color: #0D7377;

}

.contact-form-container {
  flex: 1;
  min-width: 280px;
}

@media screen and (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    padding: 2rem;
  }

  .contact-info,
  .contact-form-container {
    width: 100%;
  }

  .contact-info {
    text-align: center;
  }
}


.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  
}
.contact-form textarea {
  resize: none;  
  height: 100px;

}

.contact-form input,
.contact-form textarea {
  padding: 14px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  background-color: #1f1f1f;
  color: white;
  transition: box-shadow 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px #14ffec;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #aaa;
}

.contact-form button {
  padding: 12px;
  border: none;
  background-color: #14ffec;
  color: #212121;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #0ef3d2;
}

.social-links {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.social-links a {
  transition: transform 0.3s ease, opacity 0.3s ease;
  filter: brightness(0.9);
  display: flex;
  align-items: center;
  padding: 5px 10px;

}

.social-icon {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  filter: brightness(0.9);
}

.social-links a:hover {
  transform: scale(1.1);
  opacity: 0.8;
  filter: brightness(1.1);
  border: 1px solid #0D7377;
  border-radius: 10px;
}

@media screen and (max-width: 705px) {
  .contact-section {
    max-width: 90%;
    padding: 2rem;
  }

  .social-icon {
    width: 32px;
    height: 32px;
  }

  .contact-title {
    font-size: 2rem;
  }
}


@media screen and (max-width: 828px) {

    .contact-wrapper {
    padding: 2rem 2rem;
}

}