.mainWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  padding-top: 50px;
}

.imageWrapper {
  position: relative;
  display: inline-block;
}

.meImage {
  width: 400px;
}

.meDot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  background-color: #14FFEC;
  border-radius: 50%;
  filter: blur(60px);
  opacity: 0.6;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.helloText {
  position: absolute;
  top: 5%;
  left: 80%; /* adjust depending on image shape */
  transform: translateX(-10%);
  font-weight: bold;
  color: #0D7377;
  background-color: rgba(50, 50, 50, 0.4); /* background with 70% opacity */
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 3rem;
  letter-spacing: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.introText {
margin-top: 160px;
  max-width: 650px;
}


.introText p {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #0D7377;

}

.blinkingText {
  animation: blink 2s infinite;
  color: #14FFEC; /* red or any color you like */
  font-weight: bold;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@media screen and (max-width: 960px) {
 .mainWrapper {
  flex-direction: column;
  justify-content: center;

}

.imageWrapper {
align-self: self-start;
margin-left: 100px;
}
.introText {
margin-top: 60px;
  max-width: 750px;
}


}

@media screen and (max-width: 828px) {
.meImage {
  width: 300px;
}
.meDot {
  top: 40%;
  left: 50%;
  width: 150px;
  height: 150px;



}
.helloText {

  font-size: 2rem;
}



.introText {
padding: 0 50px;
}

}


@media screen and (max-width: 705px) {
.helloText {

  font-size: .7rem;
}
.meImage {
  width: 250px;
}
.meDot {
  top: 35%;
  left: 50%;
  width: 100px;
  height: 100px;

}
.imageWrapper {
align-self: self-start;
margin-left: 40px;
}
}

@media screen and (max-width: 532px) {

.meImage {
  width: 150px;
}
.introText p{
  font-size: 10px;

}

.meDot {
  top: 30%;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  filter: blur(50px);
  opacity: .9;
}
}


